body {
    margin: 0 auto;
}

.container {
    width: 500px;
    margin: 200px auto 0px;
    padding-right: 200px;
}

.head {
    background-color: #FBCAC2;
    margin-left: -11px;
    float: right;
    border-radius: 0px 0px 127px;
    position: relative;
    width: 155px;
    height: 313px;
}

.head_2 {
    background-color: #FBCAC2;
    margin-left: -7px;
    border-radius: 0px 0px 0px 127px;
    position: relative;
    height: 313px;
    float: right;
    width: 155px;
    z-index: -1;
}

.queixo {
    display: block;
    border-left: 62px solid transparent;
    border-right: 57px solid transparent;
    border-top: 19px solid #FBCAC2;
    width: 0px;
    margin-left: 291px;
    float: right;
    margin-top: 307px;
    position: absolute;
}


/*NARIZ*/

.nose {
    width: 50px;
    background: none repeat scroll 0% 0% #FBCAC2;
    z-index: 1;
    border-radius: 100%;
    margin: -16px 0px 16px -15px;
    border-top: 4px solid #BB7175;
    height: 32px;
}

.bloco_nose {
    width: 50px;
    margin: 0 auto;
}


/*NARIZ_RIGHT*/

.nose_right {
    background: none repeat scroll 0% 0% #FBCAC2;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    float: right;
    margin-top: 13px;
    z-index: 1;
    border-top: 4px solid #BB7175;
}


/*NARIZ_LEFT*/

.nose_left {
    border-radius: 100%;
    width: 21px;
    height: 20px;
    float: left;
    margin-top: 13px;
    background: none repeat scroll 0% 0% #FBCAC2;
    border-top: 2px solid #BB7175;
}


/*OLHO DIREITO*/

.content_eyes_right {
    padding-top: 75px;
    margin-left: 45px;
}

.eyes_right {
    left: 74px;
    top: 189px;
    transform: rotate(122deg);
    /*skew(-6deg, 0deg)*/
    -ms-transform: rotate(122deg);
    -webkit-transform: rotate(122deg);
    border-radius: 54% 155% 24% 143%;
    background: none repeat scroll 0% 0% #FFF;
    height: 100px;
    width: 90px;
    box-shadow: 17px -1px 0px -20px #5f2010 inset, -5px 0px 0px 0px, 4px -3px 0px -1px #FDDDDD;
    overflow: hidden;
}

.iris_right {
    top: 11px;
    left: -13px;
    width: 2px;
    height: 2px;
    background: none repeat scroll 0% 0% #000;
    border-radius: 100%;
    box-shadow: 31px 39px 0px 7px #FFF, 56px 34px 0px 3px #FFF, 45px 49px 0px 19px #000, 44px 49px 0px 27px #CC7638, 44px 49px 0px 29px #BF5E17;
}


/*OLHO ESQUERDO*/

.content_eyes_left {
    padding-top: 75px;
    margin-left: 23px;
}

.eyes_left {
    left: 74px;
    top: 189px;
    transform: rotate(319deg);
    transform: rotate(319deg);
    -ms-transform: rotate(319deg);
    -webkit-transform: rotate(319deg);
    border-radius: 54% 155% 24% 143%;
    background: none repeat scroll 0% 0% #FFF;
    height: 100px;
    width: 90px;
    overflow: hidden;
    box-shadow: -18px 33px 0px -82px #000 inset, 0px -5px 0px 0px, -4px 1px 0px 0px #FDDDDD;
}

.iris_left {
    top: 11px;
    left: -13px;
    width: 2px;
    height: 2px;
    border-radius: 100%;
    background: none repeat scroll 0% 0% #9E5723;
    box-shadow: 59px 60px 0px 7px #FFF, 24px 48px 0px 3px #FFF, 44px 49px 0px 19px #000, 44px 49px 0px 27px #CC7638, 44px 49px 0px 29px #BF5E17;
}


/*BOCA*/

.bloco-mouth {
    height: 63px;
    background-color: #B9686E;
    border-radius: 1px 0px 80px 80px;
}

#mouth {
    z-index: 1;
    padding-right: 81px;
    margin: 0px 0px 0px -50px;
}

.bloco_center_mouth {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #FBCAC2;
    margin: 0px 0px 0px 52px;
}


/*SORRISO*/

.smile {
    height: 41px;
    background-color: #FFF;
    border-radius: 1px 0px 80px 80px;
    width: 86px;
    margin: 4px 0px 0px 18px;
}


/*HAIR*/

.bloco-hair {
    width: 200px;
    height: 39px;
}

.bloco-hair-top {
    background-color: #42100f;
    height: 164px;
    left: 85px;
    position: relative;
    top: -66px;
    width: 332px;
    margin: 52px 0px -326px 23px;
    border-radius: 26px 171% 0px 195%;
    z-index: 10000;
    transform: rotate(314deg);
    transform: rotate(314deg);
    transform: rotate(314deg);
    -ms-transform: rotate(314deg);
    -webkit-transform: rotate(324deg);
}

.bloco-hair-top-right {
    background-color: #42100f;
    border-radius: 41px 192% 0px 175%;
    height: 128px;
    left: 321px;
    position: relative;
    top: 128px;
    width: 244px;
    border-radius: 60% -2% -324% 2%;
    z-index: 10000;
    transform: rotate(376deg);
    transform: rotate(376deg);
    -ms-transform: rotate(376deg);
    -webkit-transform: rotate(384deg);
}

.bloco-hair-top-left {
    background-color: red;
    border-radius: 100%;
    height: 109px;
    left: 17px;
    position: relative;
    width: 291px;
    border-radius: 11% 124% 466% 130%;
    z-index: 10000;
    transform: rotate(507deg);
    transform: rotate(507deg);
    -ms-transform: rotate(507deg);
    -webkit-transform: rotate(507deg);
}

.hair-back_right {
    background-color: #42100f;
    border-radius: 177% 163% 1% 19%;
    height: 384px;
    left: 305px;
    position: relative;
    width: 267px;
    margin: -54px 0px 0px 0px;
    /* border-radius: 0%; */
    z-index: -30;
    transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(10deg);
}

.hair-back_left {
    background-color: #42100f;
    border-radius: 115% 119% 15% 1%;
    height: 377px;
    right: 119px;
    position: relative;
    width: 242px;
    margin: -374px 0px 0px 0px;
    /* border-radius: 0%; */
    z-index: -19;
    transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    float: right;
}

.all-hair-top {
    margin-bottom: -293px;
    margin-left: 31px;
}


/*NECK*/

.content_neck {
    background: #dcaca8;
    width: 150px;
    height: 135px;
    border-radius: 15% 0% 50% 50%;
    position: absolute;
    margin-top: 339px;
    margin-left: 160PX;
    z-index: 24;
}


/*EYEBROW*/

.eyebrow_right {
    position: absolute;
    z-index: 2;
    top: 52px;
    left: 52px;
    right: 0px;
    height: 37px;
    width: 86px;
    margin: 0 auto;
    border-top: 6px solid #000;
    border-radius: 43%;
    -webkit-border-radius: 80%;
    -moz-border-radius: 80%;
    transform: rotate(372deg);
    transform: rotate(372deg);
    -ms-transform: rotate(372deg);
    -webkit-transform: rotate(372deg);
}

.eyebrow_left {
    position: absolute;
    z-index: 2;
    top: 56px;
    left: -45px;
    right: 0px;
    height: 37px;
    width: 86px;
    margin: 0 auto;
    border-top: 6px solid #000;
    border-radius: 43%;
    -webkit-border-radius: 80%;
    -moz-border-radius: 80%;
    transform: rotate(350deg);
    transform: rotate(350deg);
    -ms-transform: rotate(350deg);
    -webkit-transform: rotate(350deg);
}

.earring {}

.content_earring_right {
    margin: -76px 0px 0px 198px;
    background: #FFF;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.content_earring_left {
    margin: -25px 0px 0px -109px;
    background: #FFF;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

#all {
    background: #f7f2d4;
    position: fixed;
    width: 100%;
    height: 100%;
}

svg {

    fill: transparent;
    stroke: black;
    stroke-width: 4px;
    stroke-dasharray: 2266;
    stroke-dashoffset: 0;
    animation: 5s desenha infinite alternate;
}

.teste{
    margin: 50px auto 0px;
}

.teste svg {
    width: 100%;
    margin: 0 auto;
    display: block;
    stroke-width: 1px;
    fill: transparent;
    stroke: #B9686E;
    stroke-dasharray: 95;
    stroke-dashoffset: 0;
    animation: 5s animacao infinite alternate; 
}

@keyframes desenha {
    to {
        /* Inicio: Ponto inicial */
        stroke-dashoffset: var(--tamanhoTotalDoPath);
    }
    from {
        /* Fim: Altera o início para 0 */
        stroke-dashoffset: 0;
    }
}

@keyframes animacao {
    to {
        /* Inicio: Ponto inicial */
        stroke-dashoffset: 95;
    }
    from {
        /* Fim: Altera o início para 0 */
        stroke-dashoffset: 0;
    }
}